.bannerSacura
  width 100%
  max-width 470px
  height 135px
  background-color #231f20
  background-image url("../img/general/bannerSacura_background.png")
  background-repeat no-repeat
  background-size cover
.bannerSacura_title
  font-size: rem(18px)
  margin-top 10px
  color white
  text-transform: uppercase
  font-family: Sans-serif
  font-weight: bold;
  @media screen and (max-width: 460px)
    font-size rem(18px)
  @media screen and (max-width: 440px)
    font-size rem(18px)
  @media screen and (max-width: 420px)
    font-size rem(18px)
  //@media screen and (min-width: 600px)
	//font-size rem(16px)
.bannerSacura_flexc
  margin-left 120px
  display: flex;
  flex-direction column
  @media screen and (max-width: 460px)
    marging-left 100px
  @media screen and (max-width: 440px)
    marging-left 90px
  @media screen and (max-width: 420px)
    marging-left 70px

.bannerSacura_flexr
  display: flex;
  flex-direction row
.bannerSacura_flexr
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-content: stretch;
  align-items: center;
  img
    width 100%
    @media screen and (max-width: 390px)
      width 80%
  //img
  //  width 100%
  //@media screen and (max-width: 400px)
  //  img
	//  width 70%


