extends ../layout/main

block variables
	- var title = 'Главная страница'
	- var pageClass = 'index-page'

block content
	.bannerSacura
		.bannerSacura_flexc
			.bannerSacura_title Гарантия без посредников!
			.bannerSacura_flexr
				.bannerSacura_img1
					img(src='static/img/content/img1.png')
				.bannerSacura_img2
					img(src='static/img/content/img2.png')
				.bannerSacura_img3
					img(src='static/img/content/img3.png')
